@import "tailwindcss";
@plugin "daisyui";

body {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/public/bg.svg");
  background-repeat: repeat;
}

h2 {
  @apply text-3xl font-bold text-center my-8;
}

.banner {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/public/banner-bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
