@import "tailwindcss";
@plugin "daisyui" {
  themes: nord --default, dim --prefersdark;
}

@plugin "daisyui/theme" {
  name: "nord";
  name: "nord";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(95.127% 0.007 260.731);
  --color-base-200: oklch(93.299% 0.01 261.788);
  --color-base-300: oklch(89.925% 0.016 262.749);
  --color-base-content: oklch(32.437% 0.022 264.182);
  --color-primary: oklch(66% 0.179 58.318);
  --color-primary-content: oklch(96% 0.003 264.542);
  --color-secondary: oklch(69.651% 0.059 248.687);
  --color-secondary-content: oklch(13.93% 0.011 248.687);
  --color-accent: oklch(35% 0.144 278.697);
  --color-accent-content: oklch(100% 0 0);
  --color-neutral: oklch(45.229% 0.035 264.131);
  --color-neutral-content: oklch(89.925% 0.016 262.749);
  --color-info: oklch(70% 0.165 254.624);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(72% 0.219 149.579);
  --color-success-content: oklch(98% 0.003 247.858);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(17.097% 0.017 84.093);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(98% 0 0);
  --radius-selector: 1rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

@plugin "daisyui/theme" {
  name: "dim";
  default: false;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: oklch(37% 0 0);
  --color-base-200: oklch(26% 0 0);
  --color-base-300: oklch(20% 0 0);
  --color-base-content: oklch(82.901% 0.031 222.959);
  --color-primary: oklch(75% 0.183 55.934);
  --color-primary-content: oklch(0% 0 0);
  --color-secondary: oklch(73.375% 0.165 35.353);
  --color-secondary-content: oklch(14.675% 0.033 35.353);
  --color-accent: oklch(74.229% 0.133 311.379);
  --color-accent-content: oklch(14.845% 0.026 311.379);
  --color-neutral: oklch(24.731% 0.02 264.094);
  --color-neutral-content: oklch(82.901% 0.031 222.959);
  --color-info: oklch(86.078% 0.142 206.182);
  --color-info-content: oklch(17.215% 0.028 206.182);
  --color-success: oklch(86.171% 0.142 166.534);
  --color-success-content: oklch(17.234% 0.028 166.534);
  --color-warning: oklch(86.163% 0.142 94.818);
  --color-warning-content: oklch(17.232% 0.028 94.818);
  --color-error: oklch(64% 0.246 16.439);
  --color-error-content: oklch(98% 0 0);
  --radius-selector: 1rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}

.active {
  @apply font-semibold text-primary;
}

body {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/public/bg.svg");
  background-repeat: repeat;
}

h2 {
  @apply text-3xl font-bold text-center my-8;
}

.banner {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/public/banner-bg.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
